.WordCard {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    padding: .8em;
    padding-bottom: 15em;
    box-sizing: border-box;

    .ExplainWord {
        font-weight: 600;
        padding: 2px;
        border-radius: 2px;
        color: #000;
        background: #00c6a1;
        margin-right: 5px;
    }
    .RelatedExplain {

        background-color: rgba(0, 0, 0, 0.1);
        margin: 10px 0px;
        .Label {

            font-weight: 600;
        }
    }

    .ImageList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .RequestImage {
            height: 30px;
            align-items: center;
            justify-content: center;
            fill: #999;
        }

        img {
            width: 100%;
            box-sizing: border-box;
        }

    }


    .WordImageComponentWrap {
        margin: 5px;
        padding: 10px;
        font-size: 1.2em;
        color: #666;


    }


    .WordImageComponent {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 20px;

        div {
            width: 100%;
            height: 100%;
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }


        p {
            line-height: 1.4em;
            color: #666;
            padding-left: .7em;
        }
    }



    .pronounce {
        color: #999;
        margin-left: 10px;
    }

    .sound {
        vertical-align: middle;
        cursor: pointer;
        width: 20px
    }

    .addToWordList {
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .markAsLearned {
        margin-left: 20px;
        color: #1f5045;
    }

    .WordCardTitle {
        display: flex;
        margin: 0px;
    }

    .WordCardTitle a {
        color: #999;
    }

    p {
        margin: 0px;
        line-height: 2em;
    }

}



.WordCardTabsWrap {
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999999999997;

    svg {
        width: 1.2em;
        margin-right: .3em;
    }


    .TabContainer {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    .WordCardTabsMask {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 99999999999998;
        pointer-events: none;

    }

    .Title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1em;
        padding-bottom: 0;
        border-bottom: 1px solid #e2f3f4;

        .HeaderItem {
            color: black;
            margin-right: .3em;
            padding: .3em .8em;
            border-bottom: 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                display: inline-block;
                max-width: 7em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre;
            }
        }

        .active {
            background: white;
            font-weight: 600;
        }


        .Left {
            flex: 3;
            display: flex;
            overflow-x: scroll;
            justify-content: flex-start;
            align-items: center;
        }

        .Right {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 80px;
        }

    }



}

.WordCardTabs {
    z-index: 99999999999999;
    width: 100%;
    max-width: 1080px;
    height: 100%;
    overflow: hidden;
    bottom: 0;
}

.BookMark {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    overflow: scroll;
    padding: 20px 15px
}

.BookMarkLine {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    line-height: 30px;
}

.BookMarkLine a {
    flex: 1;
}

.BookMarkAdd {
    display: block;
    color: #666;
    border: 1px solid #abac9e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}


.StatsPanel {
    min-height: 200px;
    padding: 20px 15px;
}

.StatsPanel .Row {
    justify-content: flex-start;
    align-items: center;
    line-height: 35px;

}

.StatsPanel .Row strong {
    width: 160px;
    text-align: right;
    padding-right: 10px;
}

.BookMarkAdd:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


.BookMark a:hover {
    text-decoration: underline;
}



.WordCardTab_Wrapper {
    position: relative;
}

.WordCardTab_Wrapper .Search {
    position: absolute;
    width: 30%;
    top: 1em;
    right: 1em;
    outline: none;
    border: 1px solid #f2f2f3;
    opacity: 0.1;
    padding: 6px 10px;
    border-radius: 5px;
    transform: opacity 0.5s ease;
    font-size: 1.1em;
}

.WordCardTab_Wrapper .Search:focus {
    opacity: 1;
}

.Translation {
    padding: 5px 10px;
    font-size: 1.2em;
}

.Meaning {
    /* margin:5px; */
    /* padding: 10px 10px 10px 10px; */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.Etymology {
    font-size: 0.9em;
}


.Meaning p {
    overflow-wrap: break-word;
}




.ChineseMeaning {
    color: #999;
    font-size: 1.1em;
}


.WIKI {
    font-size: 1.2em;
    word-wrap: break-word;
}


.ExplainLineWrap {
    word-wrap: break-word;
}

.ExplainLine:hover {
    cursor: pointer;
    text-decoration: underline;
}

.Row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SentenceTab {
    padding: 10px;
}

.FloatMenu {
    z-index: 999999999;
    position: fixed;
    width: 0px;
    height: 0px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.1);
}

.FloatMenu svg {
    width: 20px;
    fill: white;
}

.ImageUpload {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    font-size: 2em;
    font-size: 2em;
    border: 1px solid #222;
    background: rgba(0, 0, 0, .2);

    input {

        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
}


.DebugView {
    background-color: black;
    color: white;
    padding: 10px;

    p {
        margin: 0;
        font-size: .8em;
        margin: 0;
        padding: 0;
        line-height: .8em;
    }
}