.StatsPanel {
    min-height: 200px;
    padding: 20px 15px;
}

.StatsPanel .Row {
    justify-content: flex-start;
    align-items: center;
    line-height: 35px;

}

.StatsPanel .Row strong {
    width: 160px;
    text-align: right;
    padding-right: 10px;
}