.OnBoarding {
    padding-top: 20%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-size: 1.2rem;


    p, h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    img {
        width: 3rem
    }
}